.stock-card-container {
    width: 21.375rem;
    height: 13.8125rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.25rem;
    border-left: 0.25rem solid var(--positive-variation-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}

.stock-card-container:hover {
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.28);
    transform: translateY(-0.8125rem);
}

.negative-variation-border {
    border-left-color: var(--negative-variation-color);
}

.stock-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stock-info-container h2, p {
    margin: 0;
}

.stock-info-container h2 {
    color: var(--text-color);
}

.stock-info-container p {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-color-light);
}

.stock-value-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.stock-value-container > .value {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
}

.stock-value-container >.variation {
    font-size: 0.875rem;
    color: #FFF;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--positive-variation-color);
    align-self: flex-end;
    margin-top: 0.3rem;
}

.stock-value-container > .negative-variation {
    background-color: var(--negative-variation-color);
}